.c-plot {
    display: none;
    margin: 0 auto;
    max-width: 1000px;
}
.c-plot.c-active {
    display: block;
}

.c-plot#true_vs_predicted {
    height: 800px;
}

.c-plot#uncertainty_validation {
    height: 500px;
}

.c-plot#sed {
    height: 500px;
}