<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/body.css">
    <title>{{ page.title }}</title>
    {% if page.includeplotly %}
    <link rel="stylesheet" href="assets/css/plots.css">
    <link rel="stylesheet" href="assets/css/tabs.css">
    <script src="https://cdn.plot.ly/plotly-1.49.4.min.js"></script>
    {% endif %}
    {% if page.includebanner %}
    <link rel="stylesheet" href="assets/css/imagebanner.css">
    {% endif %}
</head>
<body>
    <header class="navbar">
        <span>FIREnet</span>
        <a href="index.html">plots</a>
        <a href="about.html">about</a>
        <a href="https://github.com/wdobbels/FIREnet">github</a>
        <a href="#">paper</a>
    </header>
    <div class="spacer">
        &nbsp;
    </div>
   {{ content }}
   <div class="spacer">
        &nbsp;
    </div>
</body>
</html>